[2015-06-22 22:12] WouterJ opened #5 "Integrate migrations"
Refs http://laravel.com/docs/5.0/migrations

[2015-06-22 22:14] wouterj opened #6 "Integrate model events"
http://laravel.com/docs/5.0/eloquent#model-events

[2015-06-22 22:16] wouterj opened #7 "Add generate command"
`php app/console eloquent:make:model User`

[2015-09-20 02:17] cordoval opened #9 "remove wiki"
? just saying sorry if it is ok that way

[2015-09-20 13:03] WouterJ commented on #9
done, thanks

[2015-09-20 13:03] #9 closed

[2016-02-26 05:51] mtotheikle commented on #6
Would you mind elaborating on what you see this looking like? We use this bundle for all of our projects at work and just use Laravel dispatcher by calling something similar to: `$this->container->get('wouterj_eloquent')->setEventDispatcher(new \Illuminate\Events\Dispatcher());`

[2016-02-27 00:08] WouterJ commented on #6
I guess we can implement it in 2 different ways:

 * Use the Illuminate events component (like you did) and make everyone use illuminate's event listeners for their Eloquent listeners.
 * Create some sort of bridge between Illuminate's event dispatcher and the one in Symfony, allowing people to use the Symfony-style listener for their model event listeners.

I tend to think that the second option

[2016-02-27 00:08] #5 closed

[2016-07-03 21:52] theofidry opened #15 "Usage"
Hi @WouterJ,

I tried to use your bundle for https://github.com/theofidry/EloquentSerializer, see [the test case](https://github.com/theofidry/EloquentSerializer/blob/master/tests/TestCaseTrait.php#L65). But I encounter the following error:

[code]

When trying to do call a `create()` method on my model. Do you have any idea of what may cause this?

Cheers

[2016-07-04 10:19] WouterJ commented on #15
I'm not getting any error when running the tests of your project locally. Can you please show what I need to execute to get the error?

(btw, you can also use this bundle for migrations)

[2016-07-04 10:20] theofidry commented on #15
Oh that's interesting, I will give it a shot on Travis to see how it goes...

Good to know although I don't think I'll need it for that project :P

[2016-07-04 10:22] WouterJ commented on #15
Well, currently you use artisan for migrations :) It would allow you to get rid of artisan

[2016-07-04 10:24] theofidry commented on #15
True but as I have a Laravel application (besides the Symfony one), it doesn't really matter ;)

[2016-07-04 10:24] theofidry commented on #15
https://travis-ci.org/theofidry/EloquentSerializer/jobs/142170888 I get the exact same error as locally

[2016-07-04 10:26] WouterJ commented on #15
Yeah, I didn't checkout the PR branch. Done that now and I get the error, will investigate.

[2016-07-04 10:33] theofidry commented on #15
Cheers

[2016-07-04 11:07] WouterJ commented on #15
@theofidry you have to add this line after `static::bootKernel()`:
[code]

The problem is that eloquent needs to be booted. I now do this during the `kernel.request` event, the first hook in the Symfony request cycle as far as I know. As you don't make any requests, you'll have to do this yourself.

If you have a better idea to boot eloquent every time the kernel is booted, I'm very open for sugge

[2016-07-04 12:31] theofidry commented on #15
@WouterJ couldn't this be done in the bundle `boot()` method?

[2016-07-04 13:58] WouterJ commented on #15
@theofidry problem is that this method doesn't have access to the container (which is needed to get the capsule instance).

[2016-07-04 14:06] theofidry commented on #15
maybe we can use the `console.command` then

[2016-08-09 23:24] wouterj opened #18 "Require at least one connection to be configured"
Without any connection configured, this bundle now results in dependency injection errors. It should be forbidden to not configure any connection.

[2016-09-22 18:20] theofidry opened #20 "Setup Travis"
The bundle is no longer found on Travis :/

[2016-10-01 10:41] wouterj commented on #20
It still was, but the button link was wrong. Fixed by 3bfa636a0206586c84f0bbb6a248a1e6219b9601

[2016-10-01 10:41] #20 closed

[2016-10-01 16:07] #15 closed

[2016-10-01 16:18] #18 closed

[2016-10-01 16:25] theofidry opened #23 "Documentation"
Is there any reason why the doc is in `.rst`? It doesn't render well on GitHub :/

[2016-10-01 16:28] wouterj commented on #23
Mostly because I'm used writing rst for docs :) However, I'm fine with using markdown.

[2016-10-06 19:33] #23 closed

[2016-10-23 12:42] Whyounes opened #29 "`Migrator@requireFiles` definition not compatible with parent"
The method `WouterJ\EloquentBundle\Migrations\Migrator@requireFiles` signature is not compatible with the parent method definition, and this throws a runtime exception. It could be changed to this:

[code]

[2016-10-23 12:43] Whyounes opened #30 "Call to a member function connection() on null"
I keep getting this error when trying to run the migrations! This is the stack trace
[code]

[2016-10-24 13:19] Whyounes opened #31 "Eloquent not booted"
I got an error while using the User model inside a `LoginFormAuthenticator` class (I'm implementing guard component). It says `Error: Call to a member function connection() on null`!

After looking around for a while I figured out Eloquent has not booted! And after adding a `$capsuleDefinition->addMethodCall('bootEloquent');` inside the `WouterJ\EloquentBundle\DependencyInjection\WouterJEloquentEx

[2016-10-29 10:19] wouterj commented on #31
@Whyounes can you please check again with dev-master? I'm about to release it as a new minor release and it should fix booting errors. It would be great to get feedback on it before I release it.

[2016-10-29 10:25] wouterj commented on #30
Ah, I think you caught a major mistake in the `MigrationsMakeCommand` class. Thanks for reporting the error!

Instead of using `Illuminate\Support\Facades\Schema`, you should be using `WouterJ\EloquentBundle\Facade\Schema`. In the `MigrationCreater` class, I simply reuse the templates of laravel, but this of course includes the wrong use statements.

Expect a PR fixing this soon and thanks again f

[2016-10-29 10:27] wouterj commented on #29
Thanks for another nice report, @Whyounes!

This is because an incompatible version of Laravel is installed (this bundle does not yet support the latest version). In dev-master, it should no longer be possible to do this. After I've released a new version, this bundle will be updated to support the latest versions.

[2016-10-29 10:44] wouterj commented on #30
While debugging this, I discovered the `Schema` use statement was introduced in Laravel 5.3: https://github.com/illuminate/database/commit/ef41824f4f7b6479f68084431825de5ecb87d489 dev-master only support Laravel 5.2 at the moment. So for now, I'm not going to fix this error.

However, as we'll support Laravel 5.3 after the next release, I'll keep this issue open to not forget to fix it.

[2016-10-29 10:46] wouterj commented on #30
I'm verys sorry, seems I completely mess up everything. I already released 0.3.0, so it's time to fix Laravel 5.3 support.

Can you please confirm which version of this bundle you're running in your app at the moment? Is it 0.2.x or 0.3.x?

[2016-10-29 11:05] wouterj opened #32 "Add support for multiple migration directories (laravel 5.3)"
Laravel 5.3 added support for multiple migration directories, let's add it to this bundle as well!

[2016-10-29 12:03] Whyounes commented on #30
I'm currently using 0.2 I'll try to upgrade to 0.3 soon. Thanks for your help

[2016-10-29 12:03] Whyounes commented on #31
I will try to try it this weekend

[2016-10-29 13:16] wouterj opened #34 "Remove Matthiasnoback's test packages"
They cause too much conflicts because of their `phpunit` Composer dependency.

[2016-10-29 15:36] #34 closed

[2016-10-29 16:39] #29 closed

[2016-10-29 16:39] #30 closed

[2016-11-01 14:04] #32 closed

[2016-11-08 17:07] Whyounes commented on #31
The package isn't installable via Composer. I guess you have done something wrong in your package requirements versions!

[2016-11-08 17:08] theofidry commented on #31
? @Whyounes not sure what you mean, I'm heavily relying on this in https://github.com/theofidry/AliceDataFixtures

[2016-11-08 22:23] Whyounes commented on #31
I'm always getting this error.

![screen](https://www.dropbox.com/s/it8u9nfdflrg463/Screenshot%202016-11-08%2022.22.52.png?dl=0)

[2016-11-08 22:25] theofidry commented on #31
@Whyounes links broken :/

[2016-11-08 22:35] Whyounes commented on #31
Sorry, fixed

[2016-11-08 22:43] theofidry commented on #31
The package is `wouterj/eloquent-bundle`, not `wouterj/wouterjeloquentbundle` :)

[2016-11-08 23:44] Whyounes commented on #31
I tried it, but still getting the same error! Could this be a problem in my app??

[2016-11-09 00:23] theofidry commented on #31
did you try with the right stability version? If your package.json is configured with `minimum-version` set to `stable` (default), you cannot install an unstable package (i.e. which has no stable version yet) without specifying the stability tag (`composer require routerj/eloquent-bundle:^1.0@dev` which points to `dev-master`) or using an unstable version (`composer require routerj/eloquent-bundle

[2016-11-09 11:51] Whyounes commented on #31
Still getting the same error, I don't know why this is happening!!

[2016-11-09 11:55] theofidry commented on #31
Without your `composer.json` or knowing exactly what the error is it's a bit hard to tell. But in any case this should be discussed in a dedicated issue not this thread.

[2016-11-09 16:16] wouterj opened #38 "Include more functional migrator tests"
E.g. to catch errors like https://github.com/wouterj/WouterJEloquentBundle/pull/37

[2016-11-09 16:19] theofidry commented on #38
I think this can be detected by having a functional test doing:

- 1 migration to create a table => check the table existence
- populate the table => check the number of persisted entities
- reset the migration => check the table (non) existence

[2016-11-09 17:26] wouterj commented on #38
At the moment (1) and (2) is already covered: https://github.com/wouterj/WouterJEloquentBundle/blob/master/tests/Functional/MigrationsTest.php

So we just need to extend this with (3).

[2016-11-26 03:06] arondraper commented on #31
Hello guys I'm having a similar issue.

If I want to query the database without creating any models it works fine.  I create a 'Page' model and try to query the model for a page id.  var dump it to the browser but symfony reports the error: Error: Call to a member function connection() on null

I've tried using dev-master instead of ^0.2 but still does it.  It might be something simple im missing

[2016-11-26 09:50] arondraper commented on #31
I managed to get it working (but it's not the best way to do it) by adding a capsule connection in the constructor of the model.  Im pretty sure there's probably a better way (at least where its using the db settings from config.yml).

<img width="1153" alt="screen shot 2016-11-26 at 09 47 05" src="https://cloud.githubusercontent.com/assets/4047428/20639515/7820403c-b3bd-11e6-93b6-7e954c8b624f.png

[2016-11-26 10:20] Whyounes commented on #31
@arondraper You only need to boot Eloquent somewhere. The connection details and globals are working fine (at least for me).

[2016-11-26 10:48] arondraper commented on #31
@Whyounes thank you  =)

I tried to boot eloquent without adding the connection and it complains about 'Database [default] not configured'.  Do you know how I set the default db connection?
[code]
<img width="805" alt="screen shot 2016-11-26 at 10 47 40" src="https://cloud.githubusercontent.com/assets/4047428/20639830/e67580b2-b3c5-11e6-8456-0a302ff11eba.png">

[2016-11-26 11:09] Whyounes commented on #31
You should resolve the capsule instance from the container and boot eloquent. Not create a new instance!

[2016-11-26 17:47] theofidry opened #39 "Mention EloquentSerializer"
https://github.com/theofidry/EloquentSerializer is a simple bridge for Symfony serializer to work with an Eloquent model

It is not really in the scope of this bundle, but as it's the main bundle to use Eloquent within Symfony, feels like it should be the one mentioning other related packages.

[2016-12-26 06:57] ShyZhen opened #40 "I would like to get some advice"
Hi Wouter J ,  this is my first time using symfony , and I want him to support Oracle , so , can you give me some guidance ?

[2016-12-29 03:38] #40 closed

[2017-02-20 08:17] pavliha opened #41 "Attempted to call an undefined method named "getStubPath""
when i try to make migration  php app/console eloquent:migrate:make create_flights_table

[2017-03-01 18:24] narutimateum opened #42 "event listener for boot method"
can you please include event dispatcher so i can listen to boot method like creating updating deleting etc ?

[2017-03-01 20:16] theofidry commented on #42
I think this is #6

[2017-03-03 20:25] narutimateum opened #43 "variation of postgres driver names"
illuminate searches for pgsql
whilst wouterj searches for postgres
and doctrine registers postgres driver as pdo_pgsql

can you add the validation of config for drivers ->ifNotInArray(['mysql', 'pgsql', 'sql server', 'sqlite'])
to more possible combinations ?
-postgres
-pgsql
-pdo_pgsql
-postgresql

??

if i use all these names above it wont work unless i change the validation from postgres to pgs

[2017-03-03 23:31] theofidry commented on #43
Maybe you could try to open a PR for it? I believe it's just a matter of editing the configuration.

I would keep the driver name to what Eloquent uses rather than doctrine.

[2017-03-04 04:03] narutimateum commented on #43
i have checked what eloquent uses.. its "pgsql"  but wouterj use postgres

[2017-03-04 04:10] narutimateum commented on #43
how do i do a pull request?

[2017-03-04 12:50] theofidry commented on #43
Sorry I was off before seeing your message, but I guess you figured it out with #44 😄

[2017-03-05 11:33] #43 closed

[2017-03-05 12:41] wouterj opened #47 "Add Eloquent data collector"

[2017-03-05 12:41] #31 closed

[2017-03-05 13:34] wouterj commented on #41
Thanks for the report!

You seem to have installed this bundle with Laravel 5.4. This is currently not yet supported. This will be fixed by: https://github.com/wouterj/WouterJEloquentBundle/pull/48 Please use `1.0@dev` of this package. This will install Laravel 5.3 for now and Laravel 5.4 as soon as the other PR is merged.

After fixing #6 (which I hope to do today), I'll release 0.4.0.

[2017-03-06 15:47] wouterj commented on #41
Unfortunately, a BC break between 5.3 and 5.4 keeps this bundle from supporting both versions. I've now moved Laravel 5.4 support to 0.5.0 (hoping to release 0.4.0 this week).

[2017-03-06 20:20] wouterj opened #51 "Bridge eloquent events to Symfony event dispatcher"
This would e.g. allow to listen to the `eloquent.creating: AppBundle\Model\User` event using Symfony's event dispatcher component.

[2017-03-06 20:22] wouterj opened #52 "Allow service observers to bind to model in tag"
E.g.
[code]

This requires some more work, as it needs to bind on each request instead of just once during container building. This might require adding a new initializers.

[2017-03-07 13:45] #6 closed

[2017-03-07 13:45] #42 closed

[2017-03-08 00:21] wouterj opened #54 "Generate app/migrations directory if it does not exist"
This should be done in `eloquent:migrate:make` and `eloquent:migrate:install`.

[2017-03-16 11:20] #41 closed

[2017-03-22 13:25] wouterj commented on #39
Hi @theofidry! I think it's fine to mention Eloquent - Symfony related tools in the readme file. However, I would like to mention packages that are stable. I can understand that you probably wait for this bundle's stable, so after that, I'll happily accept adding a reference to that package (and maybe also your alice fixtures bundle).

[2017-03-22 14:22] theofidry commented on #39
I'll do a PR once the stable releases are out then :) Should happen soon 😄

[2017-03-22 14:22] #39 closed

[2017-10-14 15:09] #47 closed

[2017-10-14 15:37] #54 closed

[2017-10-14 15:57] wouterj opened #59 "Flex: Add recipe"

[2017-10-14 15:58] wouterj opened #60 "Flex: Add App\Seed to seeder default namespaces"

[2017-10-15 11:28] #60 closed

[2017-10-26 17:51] duayres opened #64 "UndefinedMethodException while trying to access method cloneVars"
Hi,
I've set up the latest version of this bundle (0.5) and set up everything following the documentation. The first problem I've seen is that
`use WouterJ\EloquentBundle\Facade\DB;`
should be
`use Illuminate\Support\Facades\DB;`

But even with this I receive an UndefinedMethodException while trying to retrieve a result set using `DB:table...->get();`

PS: I've also added the `aliases:true` into t

[2017-10-26 19:37] duayres commented on #64
Fount the problem: [https://github.com/symfony/http-kernel/commit/d1a186c863764c748fb1b29a204aa539eba489e1#diff-a54f757fafb9147b811b27377c4b5396](url)
Created a pull to solve this: #65. Hope you approve :)

[2017-10-27 11:47] duayres commented on #64
Another compatibility issue detected here on "eloquent-bundle/Resources/views/data_collector/eloquent.html.twig", line 118:

`<th>{{ profiler_dump(config, maxDepth=expand ? 1 : 0) }}</td>`

It only works on version 3.1+ of symfony, due to deprecation mentioned in [this issue](https://github.com/symfony/symfony/issues/23922), tl;dr: there are no `maxDepth` parameter on version 3.0 or minor.

I've t

[2017-10-31 12:53] #64 closed

[2017-10-31 17:44] duayres opened #67 "Form::handleRequest integration."
Hello,
I was trying to use internal symfony Form::handleRequest using your Eloquent bundle, but I got errors on mixins annotations inside Illuminate\Database\Eloquent\Model (not imported).
[code]
Error: `[Semantical Error] The annotation "@mixin" in class Illuminate\Database\Eloquent\Model was never imported. Did you maybe forget to add a "use" statement for this annotation?`

Another thing is the

[2017-11-01 19:41] duayres commented on #67
This error exists due to symfony version prior to 3 mistakes the @mixin annotation.
I've partially corrected this adding after this snippet..
[code]
...this:
[code]

But, the annotation validation (Constraints->@Assert|xxx) doesn't work, it says that the Model.name is empty everytime... :disappointed:

[2017-11-02 11:49] wouterj commented on #67
@duayres You can add `\Doctrine\Common\Annotations\AnnotationReader::addGlobalIgnoredName('mixin');` to `Kernel::boot()` or your bootstrap file to avoid the error. We can include this in the bundle in here: https://github.com/wouterj/WouterJEloquentBundle/blob/master/src/WouterJEloquentBundle.php#L54 Are you willing to open a PR for that, so I can give you full credits?

This should btw be fixed i

[2017-11-03 04:18] duayres commented on #67
@wouterj sorry for the late answer, done the +1 on your post this morning, and now I've submitted PR #68 :)
Thanks

[2017-11-03 08:57] wouterj commented on #67
Late answer.. you're blazingly fast! Don't be sorry ;)

[2017-11-04 05:40] uddhab opened #69 "db port can not be set through config"

[2017-11-06 11:00] duayres commented on #67
Ok, I've wrote a simple CRUD here and (annotation based) validation works, but I think that the form types/elements (TextType:`<input type="text>`, DateType:`<input type="date">`, etc.. ) auto-detection (symfony tries to infer the type of a input based on the data type on database) doesn't work. I think it can work if you fill your entity with `@ORM\Column(type="..")`

PS: Ahh.. and a hint for usi

[2017-11-06 12:19] duayres commented on #69
I can confirm that the configuration doesnt process a port yet, I'm doing a PR to fix that.

[2017-11-06 12:29] duayres commented on #69
Done a PR. If you want to put it to work right away only get my modified /wouterj/eloquent-bundle/ser/DependecyInjection/Configuration.php file ... oh, on this PR #70

[2017-11-06 20:31] duayres commented on #67
@wouterj I've found that if i use the annotation validation setting a property on model public, the symfony validator works, but the data isn't persisted into the database by eloquent. But if you put protect or private instead, the persistence occurs but the validation fails.

After much debugging I've fount that in Validator\RecursiveContextualValidator try to extract the data from the model to v

[2017-11-07 16:34] wouterj commented on #69
#70 is now merged and will now be available in `1.0.0@dev`. I'm almost going to release 1.0 stable.

[2017-11-07 16:34] #69 closed

[2017-11-08 12:04] duayres commented on #67
Update.
Another problem, but not directly related to handleRequest.
I've added a belongsTo(Author) to my Book entity:
[code]
`Book::find(1)->author->name`, works perfectly on the backend, but fails when I try to add author to an FormBuilder:

[code]
Adding the author field to the form triggers an internal error:
`An exception has been thrown during the rendering of a template ("Catchable Fatal Err

[2017-11-08 15:46] wouterj commented on #67
Hmm, so some thoughts:

 * As Eloquent requires magic properties, you can't add assertions on your model. Instead you should add the constraints to the form fields or create a [DTO object that you use for your form](https://stovepipe.systems/post/avoiding-entities-in-forms) that you can annotate with assertions.
 * You don't have to use the type guessing system with forms, so if you define all typ

[2017-11-08 16:46] duayres commented on #67
Replying:
- In my (very humble personal) opinion, is redundance to write DTO's (you write tha same properties on database, form creation, form retrieval and validation). I was thinking of some plausible bridge between the magic properties (found in protected $attributes actual real property) and actual real POPO properties, it would be wonderful. Also i think that the exclusive behavior of eloquen

[2017-11-08 16:57] wouterj commented on #67
@duayres I'm happy to help as well. I should have more time this weekend. I'll then also try to get Symfony 4 support in (So we can release 1.0 stable when Symfony 4 is released).

[2017-11-08 17:03] duayres commented on #67
Just some dumb functionality I've wrote over the model I want to share:
[CustomModel Gist](https://gist.github.com/duayres/0876eafe27bfd0ea02b315d9edf3cd94) . It create a fake POPO instance of the children objects. Still missing the `toSnakeCase()` and `toCamelCase()` but it can be useful to someone... ahem.. maybe?! xD

[2017-11-10 17:30] duayres commented on #67
@wouterj Well, I've made some progress here but I can't find a way to remap relation to relation**_id**
Here is my (UGLY code, sorry :nauseated_face:) [Gist](https://gist.github.com/duayres/5fbc54098dcf763f647ab7587cd71a0d) .

Since i'm using `builder->add('author'` (and not author**_id**), the time it will persist, author collumn can't be found on the database... so another "gambiarra" that I've

[2017-11-19 21:53] wouterj commented on #67
Now I've merged https://github.com/wouterj/WouterJEloquentBundle/pull/72 , this bundle now has tested support for `Form#handleRequest()` and form type guessing. Unfortunately, I had to drop symfony 2.7 support for it, but people can seamlessly upgrade to 2.8.

Next weekend, I'll take a look at your problem with relations and eloquent form types. I would like to not mess with too much eloquent inte

[2017-11-25 17:20] robertfausk opened #73 "Tag a new version to have symfony 4 support in a tagged release"

[2017-11-25 17:53] wouterj commented on #73
I'll wait for Symfony 4 stable until tagging 1.0 of this bundle (with Symfony 4 support). Without a stable release, I'm not sure if this bundle is stable. And releasing a 1.0 version of a bundle without some feeling of stability seems weird to me.

Anyway, this one will have 1.0 stable within a week of Symfony 4 stable (so before December the 8th). I'll promise!

[2017-11-25 17:58] robertfausk commented on #73
What about tagging a RC or beta tag?
Then WouterJEloquentBundle can be used by other libraries by now.

Otherwise I'm also fine with a tag before december the 8th.

[2017-11-25 18:15] theofidry commented on #73
We can wait a few weeks it's ok :)

[2017-11-26 14:56] wouterj commented on #73
Here you go: https://github.com/wouterj/WouterJEloquentBundle/releases/tag/1.0.0-RC1

[2017-11-26 14:58] robertfausk commented on #73
Whoop whoop!

[2017-11-26 14:58] #73 closed

[2017-12-03 21:11] raffaelecarelle opened #77 "Installation problem"
I have symfony 4.0 version installed.

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install symfony/dependency-injection v3.4.0
    - Installation request for symfony/dependency-injection (locked at v4.0.0) -> satisfiable by symfony/dependency-injection[v4.0.0].
    - Conclusion: remove symfony/console v4.0.0
    - Conclusion: don'

[2017-12-04 17:57] wouterj commented on #77
Hi!

Only 1.0.0-RC supports Symfony 4.0 at the moment (I'm about to test it in a Symfony 4 app before releasing it as stable). So for now, you have to do something like `composer req wouterj/eloquent-bundle:@rc` to install & test the RC release with symfony 4.

For now, I'm going to close this issue. I'll let you know when I release stable!

[2017-12-04 17:57] #77 closed

[2017-12-04 19:49] wouterj commented on #77
For your information, 1.0 is now released. Besides this, a new flex recipe is also published, so installation should be as easy as `composer req wouterj/eloquent-bundle`

[2017-12-04 20:52] raffaelecarelle commented on #77
Thank you very much !

[2017-12-04 22:23] wouterj commented on #59
It exists now! symfony/recipes-contrib#176

[2017-12-04 22:23] #59 closed

[2017-12-04 22:25] wouterj opened #78 "Add form types for relational model"
This continues #67

The bundle should provide some eloquent model form type for relations between models. Just like DoctrineBundle provides. A comment by @duayres from #67 :

[2017-12-04 22:26] wouterj commented on #67
As this PR got a bit hijacked, I've created https://github.com/wouterj/WouterJEloquentBundle/issues/78 for the new relation form types.

[2017-12-04 22:26] #67 closed

[2017-12-05 06:33] parlays opened #79 "QueryBuilder Result in Array format PDO::FETCH_ASSOC"
First, thank you so much for making this package, it is amazing!

It would be great to get query builder results as an associative array.

I see in vendor/illuminate/database/Connection.php:
line 102:
**protected $fetchMode = PDO::FETCH_OBJ;**

in file vendor/illuminate/database/Capsule/Manager.php:
line 47:
protected function setupDefaultConfiguration()
{
    **$this->container['config']['databas

[2017-12-05 10:30] wouterj commented on #79
I'm not entirely sure, but it seems like calling this method could work: https://github.com/illuminate/database/blob/d6731e6709c7d52e656c2c029c08a4c4e271fd23/Capsule/Manager.php#L150-L155

[2018-01-11 14:25] fabioars opened #80 "Change the migrations default path. wouterj_eloquent.migration_path"
Hello,

I wan't do know, how do change the variable wouterj_eloquent.migration_path in my project.
If possible, use many paths I want.

![image](https://user-images.githubusercontent.com/5921856/34830145-bda1930c-f6c1-11e7-8922-b0d9160fbb5a.png)

tks!

[2018-01-11 15:53] theofidry commented on #80
You can simply override the parameter `wouterj_eloquent.migration_path`:

[code]

Although supporting multiple path won't be possible (and what's the use case?)

[2018-01-11 17:02] fabioars commented on #80
I'm trying to implement [Porto SAP](https://github.com/fabioars/Porto) with Symfony 4.
Where all all MVC parts are separated by context.

[2018-01-11 17:29] duayres commented on #80
Maybe if you separate it by use cases and another aggregation you want?
Ex: 2017_01_11_151700_Users_SomeAggregator_CreateUsersTable'
Correct if I'm wrong, but AFAIK migrations ever use to reside on a unique single path in various implementations.

[2018-01-12 13:46] duayres commented on #7
You plan to generate the model with the attributes on it?

[2018-01-12 16:07] wouterj commented on #7
@duayres I have not yet planned anything for this feature, so I'm open for any suggestion :).

In case you (or anyone else) wants to work on this, I would welcome a very simple make command that just generates the file + basic class definition (like the [basic migration stub](https://github.com/illuminate/database/blob/master/Migrations/stubs/blank.stub)). One step further would be to similate the

[2018-01-12 16:12] wouterj commented on #80
Hmm, in Laravel, you can call `$migrator->path('my-custom-path')`. However, you can't do that with my Bundle yet. I have to think of a nice way to configure all these classes in a Laravel-ish way (as #79 is about such feature as well).

[2018-01-19 14:24] theofidry commented on #7
@wouterj is there any point to keep 2.8 support? Just bump to 3.4+ :)

[2018-01-19 15:50] duayres commented on #7
I recommend at least 3.3

[2018-01-19 15:52] wouterj commented on #7
This bundle is not very popular (yet) and I know one of the companies using it is still on Symfony 2.8. So I keep support for it till eom.

[2018-01-25 17:37] iplayguitar81 opened #82 "Adding a Login with Eloquent?"
Is this possible? If so, are there instructions or a tutorial on how to do so using the WouterJEloquentBundle?

[2018-01-25 18:03] theofidry commented on #82
Eloquent is just here to interact with your database, any login-security feature is out of the scope of this library.

To build a login form relying on [this documentation](https://symfony.com/doc/current/security/form_login_setup.html) or via a third-party bundle like FosUserBundle

[2018-01-25 18:55] duayres commented on #82
Yes it is possible, but you will need to create a custom user provider as refered [here](https://symfony.com/doc/current/security/custom_provider.html).
Your model class should extend from eloquent model, then must implements UserInterface and EquatableInterface interfaces, and for everything else use Security Guard or something out-of-the-box like what @theofidry mentioned.

[2018-01-26 23:31] iplayguitar81 commented on #82
Thanks for the responses guys.  @duayres I tried to create a custom user provider and am running into challenges using Symfony 4.

[2018-02-04 20:36] tsdevelopment opened #83 "Error with pagination"
Whenever I Use the pagination I get the following error:

`Attempted to load class "Paginator" from namespace "Illuminate\Pagination".
Did you forget a "use" statement for "Illuminate\Contracts\Pagination\Paginator"?`

Can you enable more Aliases to use the paginator class?

[2018-02-04 21:15] theofidry commented on #83
AFAICT it's a package on its own: https://github.com/illuminate/pagination so you need to install it to be able to use it.

[2018-02-04 21:29] #83 closed

[2018-04-14 23:27] mariano-gomez opened #86 "Seeder class names losses their first letter"
Hi guys, i've found that executing:
 ./bin/console eloquent:make:seeder --target=migrations/seeds/SomeClass.php SomeClass, a file is created in migrations/seeds/ with the correct filename. But inside the file, a class is defined with the name "omeClass"

The problem is in class wouterj\eloquent-bundle\src\Command\SeederMakeCommand.php, on line 65 ($class = substr($name, $lastPos + 1);)

that +1 sh

[2018-04-15 18:34] mariano-gomez opened #87 ""A facade root has not been set.""
I'm having this error message when i execute
`./bin/console eloquent:seed`

in my eloquent config file i have this:

[code]

And my DatabaseSeeder File looks like this:

[code]

What am i missing here?

[2018-04-16 15:26] mariano-gomez opened #88 "eloquent:seed error"
Looking at the eloquent:seed command help, it says that to specify a Seeder class, we must write the command this way:

php ./bin/console eloquent:seed Acme\DemoBundle\Seed\UserTableSeeder

Thing is, that doesn't works. But after taking a look at the code, i've realized that using it this way, it works:

php ./bin/console eloquent:seed Acme\\DemoBundle\\Seed\\UserTableSeeder

That double backlash

[2018-04-21 18:14] mariano-gomez opened #89 ""A facade root has not been set." exception"
I have this configuration in the eloquent.yaml:

wouterj_eloquent:
    driver:   '%env(DB_CONNECTION)%'
    host:     '%env(DB_HOST)%'
    port:     '%env(DB_PORT)%'
    database: '%env(DB_DATABASE)%'
    username: '%env(DB_USERNAME)%'
    password: '%env(DB_PASSWORD)%'
    eloquent: true
    aliases:
      db: true

And when i try to use this query
$juegos = DB::table('juegos')->paginate(self::JU

[2018-04-22 14:58] wouterj commented on #86
Ah, thanks for finding this bug and proposing a fix. Can you maybe create a PR yourself, so I can give you full credits? (you can do so by navigating to this file in github and clicking "edit" in the top right)

[2018-05-05 10:44] wouterj commented on #86
Fixed by #90

[2018-05-05 10:44] #86 closed

[2018-06-05 22:34] valentimlh opened #91 "Postgresql Schemas"
There is no param on eloquent.yaml to set schema for postgresql database.

I was able to make it work by editing the file:  **WouterJEloquentBundle/src/DependencyInjection/Configuration.php** and inserting the param 'schema'  to the arrays on lines 82, 86 and adding: **->scalarNode('schema')->defaultValue('')->end()** below line 139.

Can you add this to the master please ?

[2018-06-06 13:07] duayres commented on #89
Hello,
wouterj_eloquent:
  ...
    aliases: true
    eloquent: true

The way you were defining just "expose" the `DB::..` facade and some others that's needed, not.

Another thing that may cause issues similar to this is to import it manually when you have it defined on the config.
Example: Importing manually on your script \DB but have aliases:  db: true on your config file.

[2018-06-06 13:21] duayres commented on #91
You can contribute to this project, just follow this example [here](https://github.com/wouterj/WouterJEloquentBundle/pull/70/commits/d9a8b3b6f800b43090d5d17ecf92d874676d2e51) and make your PR.  Are you able to do this?

[2018-07-16 07:51] g9rga opened #93 "Adding Master/Slave support"
Good day! Could you add master/slave support? https://laravel.com/docs/5.6/database#read-and-write-connections

[2019-04-11 14:37] zorn-v opened #98 "Data collector crash debug toolbar with subrequest"
If you use `render` twig finction, debug panel wil not be loaded properly due `unserialize` error.
I think problem is after eloquent is loaded there is PDO object in `connection` and as say in symfony docs:

[2019-04-12 00:09] zorn-v commented on #98
Seems it happen only on windows with sqlite DB.

[2019-07-10 16:34] #98 closed

[2019-11-04 17:14] leroy0211 opened #102 "Update illuminate packages"
You should update the illuminate packages to `^5.5` instead of `~5.5`. Illuminate won't introduce BC breaks in minors. So that's pretty safe to do.

[2019-11-21 19:35] JordinMarshall opened #103 "Attempted to call an undefined method named "getCasts""
This error is being thrown in a bundle with no association to anything regarding to the WouterJEloquentBundle

Fatal error: Uncaught Symfony\Component\Debug\Exception\UndefinedMethodException: Attempted to call an undefined method named "getCasts" of class "Content\PollBundle\Entity\PollVersion". in /var/www/html/vendor/wouterj/eloquent-bundle/src/Form/EloquentModelTypeGuesser.php on line 23
--
 S

[2019-11-23 22:04] wouterj commented on #102
This is only the case for Laravel 6+ (See https://laravel.com/docs/5.8/releases ). But indeed, this bundle should be updated to support Laravel 5.8 (which probably means dropping some older Laravel 5.x versions).

Today, I restarted work on this bundle in #101. Let get that merged and then focus on adding support for newer Laravel versions. Feel free to help :)

[2019-11-24 14:46] wouterj commented on #103
Thank you for reporting this issue!

It appears there was a bug in the form type guesser (I somehow assumed it was only called for eloquent models). This should be fixed by in 1.0.3. Please let me know if you still have this error after updating.

[2019-11-24 14:46] #103 closed

[2019-11-24 15:38] wouterj commented on #102
This is going to be fixed by https://github.com/wouterj/WouterJEloquentBundle/pull/106 . It was surprisingly easy to support 5.7 and 5.8 (compared to anything before 5.6)

[2019-11-24 15:58] #102 closed

[2020-01-08 15:31] chelsEg opened #107 "Other drivers"
Hello.

How can I add new driver, for example Vertica driver?
Is it possible?

[2020-02-20 21:20] joaoeduardo opened #108 "Is this project still maintained?"
I would like to use this project, but last commit was in november. Eloquent version is outdated too. Is this project still maintained?

[2020-02-21 11:05] wouterj commented on #108
If I'm honest, this project was never maintained. It started as a little "joke" to trigger Symfony people that Laravel isn't that bad, which then turned out to be actually used..

I've never used this bundle in any Symfony application and I don't keep up with the Laravel community, so it's a bit of a weird bundle. Feel free to fork/modify/send PRs to this project. :smiley:

[2020-06-24 15:05] #108 closed

[2020-08-18 11:49] x8core opened #112 "Somebody once told me the world is gonna roll me"
Many links of docs in README going to 404s.
Examples:
https://github.com/wouterj/WouterJEloquentBundle/blob/master/Resources/docs/usage.rst#query-builder
https://github.com/wouterj/WouterJEloquentBundle/blob/master/Resources/docs/usage.rst#eloquent-orm

[2020-10-24 12:54] wouterj commented on #112
Feel free to submit a PR to fix it. And otherwise please remain silent if you can't communicate issues respectfully.

[2020-10-24 12:54] #112 closed

[2020-10-24 13:54] x8core commented on #112
Maybe we need to close all issues on github and propose people to feel free to submit PRs?

[2020-10-24 14:20] wouterj commented on #112
Yes, if it's small textual changes definitely. It's open source, meaning we all invest a bit (of lots of bits) of free time to help someone else fix problems. This "all" is very important, it's not just the maintainer that should invest free time in helping other solve problems. It's something that you do together, as users and maintainers. That is called *contributing*.

From time to time, users

[2020-10-24 20:14] x8core commented on #112
Actually, i don't want to hurt you, so sorry for my behaviour. About song quote, i thought it would be funny not unrespectful. I don't mean that you are robot.

[2020-12-12 15:04] #93 closed

[2020-12-12 15:04] #91 closed

[2020-12-17 19:10] wouterj commented on #107
This bundle only implements the Eloquent ORM in Symfony. It does not cover Eloquent ORM development. Please contribute to Laravel directly (https://github.com/laravel/framework).

[2020-12-17 19:10] #107 closed

[2021-05-16 10:28] #82 closed

[2021-06-18 10:25] #7 closed

[2021-06-18 10:26] #78 closed

[2022-01-30 21:58] jomisacu commented on #87
The problem here is that you are using Illuminate\Support\Facades\DB instead of WouterJ\EloquentBundle\Facade\Db.

[2022-03-02 15:53] jomisacu commented on #88
you must to quote the class name to skip double slashes

[code]

[2022-06-05 16:54] brzuchal opened #130 "Warning in service wiring because of missing "Twig_Environment""
I use Symfony Framerowk but no Twig, so I get this warning:
[code]

The above-mentioned `SqlFormatterExtension` should be wired only if there is a presence of Twig being detected first.
No need for this in applications that don't have HTML rendering.\

---
Using the latest version 2.2.1

[2022-06-09 21:31] wouterj commented on #130
Hi! Can you share in which scenario you get this warning? The service should not be used when there is no WebProfilerBundle (and this bundle requires Twig to be installed), and unused services don't produce warnings IIRC.

As a test, I just did this and got no warning:
[code]

[2022-08-01 10:58] hyde1 opened #131 "eloquent:migrate:fresh command fail without --database parameter"
Hello,

Version: 2.2.1

Using the command `bin/console eloquent:migrate:fresh` without any paramter leads to an error whereas the help output says we can use it without any parameter: `eloquent:migrate:fresh [--database DATABASE] [--force] [--path PATH] [--seed] [--seeder SEEDER]`
[code]

If you provide the `--database default` parameter it throw another error saying that `--path` is required.
The